link-workspace-packages = true
shamefully-hoist = false
shared-workspace-shrinkwrap = true
access = public
enable-pre-post-scripts = true
package-lock = true
strict-peer-dependencies = false
dedupe-peer-dependents = true
package-manager-strict = false

registry=https://packages.aliyun.com/66e2dd9f79b7fe080f32665b/npm/npm-registry/
